<mat-toolbar class="navbar">
    <nav class="navbar navbar-dark">
        <button class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <span>SISCAL</span>
    </nav>
    <div>
        <span [routerLink]="['/lista-proyectos']">Proyectos</span>
        <span><i class="material-icons">
                account_circle
                </i></span>
        <span [routerLink]="['/login']"><i class="material-icons">
            exit_to_app
            </i></span>
    </div>
</mat-toolbar>