.mat-form-field--inline
  display: flex
  flex-direction: row
  align-items: center

  .mat-form-field
    display: inline-block
    width: 100%
    vertical-align: middle
    &:nth-child(1)
      margin-right: 10px
      
.buttonFlotante
  bottom: 10px;
  position: absolute;
  right: 0;
  margin-right: 10px