<html>

<body>
    <div class="form-wraper">
        <div class="form-container card">
            <div class="form-header" color="warn">
                <h2>SISCAL</h2>
                <!-- <img src="./../../assets/car-key.svg"  class="main-lock-icon" alt=""> -->
            </div>
            <div class="form-body">
                <mat-form-field class="justifier">
                    <input matInput placeholder="Usuario" type="text" class="form-input" [(ngModel)]="loginModel.usuario">
                    <mat-icon matSuffix>person</mat-icon>
                    <!-- <input matInput placeholder="Email" text="email" class="form-input"> -->
                </mat-form-field>
                <mat-form-field class="justifier">
                    <input matInput class="form-input" [(ngModel)]="loginModel.contrasena" name="contrasena" placeholder="Contraseña" [type]="hide ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <!-- <input matInput placeholder="Password" text="password" class="form-input"> -->
                </mat-form-field>
            </div>

            <div class="form-footer">
                <button mat-stroked-button color="warn" (click)="login(loginModel)"><mat-icon>input</mat-icon>Ingresar</button>
            </div>
        </div>
    </div>
</body>

</html>