<div class="head">
  <img src="../../../assets/GyM.png" alt="" style="width: 38%">
</div>
<div class="main-div">
  <mat-card style="width: 28%">
      <div class="login-container">
          <mat-toolbar color="warn">
              <h2 class="md-toolbar-tools">
                <span>SISCAL</span>
              </h2>
          </mat-toolbar>
        <mat-form-field>
            <input  matInput placeholder="Usuario" type="text" [(ngModel)]="loginModel.usuario">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="loginModel.contrasena" name="contrasena" placeholder="Contraseña" [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <button mat-raised-button color="warn" (click)= "login(loginModel)">Ingresar</button>
      </div>
  </mat-card>
</div>

