.main-div
  height: 97vh
  display: flex
  justify-content: center
  align-items: center
  

.login-container
  display: flex
  margin: 0 auto
  flex-direction: column
  > *
  max-width:  90%
  width: 500px

.head
  position: absolute
  top: 5%
  left: 39%

// .loginBox
//   max-width:  90%
//   width: 500px