<br>
<div class="list-group users-list">
	<div *ngFor="let item of items" class="list-group-item list-group-item-action flex-column align-items-start">
		<div class="row">
			<div class="col col-md-12 text-col">
				<div class="mb-1"><strong>
          {{item.payload.doc.data().Nombres}} 
          
          {{item.payload.doc.data().Apellidos}}
         
          {{item.payload.doc.data().Alias}}

          {{item.payload.doc.data().Estado}}
				</strong>
				</div>
			</div>
		</div>
	</div>
</div>