<app-navbar-menu></app-navbar-menu>
<br>
<div class="container-fluid">
    <div class="search-div">
        <mat-form-field class="search-form-field" floatLabel="never">
            <input matInput [(ngModel)]="searchKey" placeholder="Buscar" autocomplete="off" (keyup)="applyFilter()">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
        <mat-table [dataSource]="listData" matSort>
            <ng-container matColumnDef="Nro">
                <mat-header-cell *matHeaderCellDef mat-sort-header>RNC-Nro.</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.Nro}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Descripcion">
                <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customWidthClass'">Descripción</mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="'customWidthClass'">{{element.Descripcion}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Estatus">
                <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customCell'">Estatus</mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="'customCell'">{{element.Estatus}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="TipoReporte">
                <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customSmallWidthClass'">Tipo de Reporte</mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="'customSmallWidthClass'">{{element.TipoReporte}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="EjecutorDanio">
                <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customCell'">Ejecutor de Daño</mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="'customCell'">{{element.EjecutorDanio}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Area">
                <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customCell'">Área</mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="'customCell'">{{element.Area}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Defecto">
                <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customCell'">Defecto</mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="'customCell'">{{element.Defecto}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="NombreOriginador">
                <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customCell'">Originador QC</mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="'customCell'">{{element.NombreOriginador}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="HHTrabajo">
                <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customSmallWidthClass'">HH Retrabajo</mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="'customSmallWidthClass'">{{element.HHTrabajo}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="TratamientoNoConformidad">
                <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customCell'">Tratamiento de la No Conformidad</mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="'customCell'">{{element.TratamientoNoConformidad}}</mat-cell>
            </ng-container>
            <!-- <ng-container matColumnDef="FechaEmision">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Emisión</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.FechaEmision | date:"dd/MMM/yyyy"}}</mat-cell>
            </ng-container> -->
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-icon-button><mat-icon>launch</mat-icon></button>
                    <button mat-icon-button color="warn"><mat-icon>delete_outline</mat-icon></button>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    Loading data...
                </mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    No data.
                </mat-footer-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <!-- <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row> -->
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </div>
</div>