<app-navbar-menu></app-navbar-menu>
<br>
<div class="container-fluid" style="height: 530px">
    <mat-card-title>Listado de Proyectos</mat-card-title><br>
    <mat-card>
        <mat-nav-list>
            <mat-list-item *ngFor="let proyecto of listaProyecto">
                <a matLine (click)="chooseProject(proyecto.payload.doc.data().CodigoProyecto)">{{proyecto.payload.doc.data().CodigoProyecto}} - {{proyecto.payload.doc.data().NombreProyecto}}</a>
                <!-- <p matLine> -->
                <span><strong>División :</strong> {{proyecto.payload.doc.data().Division}} </span>
                <span><strong>Especialidad :</strong> {{proyecto.payload.doc.data().Especialidad}} </span>
                <!-- </p> -->
                <button mat-icon-button (click)="chooseProject(proyecto.payload.doc.data().CodigoProyecto)">
          <mat-icon>info</mat-icon>
       </button>
            </mat-list-item>
        </mat-nav-list>
    </mat-card>
</div>